*{
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}
.navbar {
    max-width: 1200px; padding: 10px 20px; margin: 0 auto;display: flex; justify-content: space-between;; align-items: center; background-color: transparent;
}

.btn-main {

    background-color: green; color: white; padding: 5px 10px; text-transform: uppercase; border: 0; 
    cursor: pointer;transition: all; transition-duration: 500ms;
}

.btn-main:hover {

    background-color: red; color: white; padding: 5px 10px; text-transform: uppercase; border: 0; scale: 110%; border-radius: 20px;
    
}

.title {
     text-transform: uppercase; text-decoration: underline overline; text-decoration-color: green;
}